.menu-page {
  padding: 40px;
  background: #f4f6fb;
  min-height: 100vh;
}

.menu-page h1 {
  margin-bottom: 30px;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
}

.menu-card {
  background: white;
  border-radius: 14px;
  padding: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: 0.2s;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.menu-card h3 {
  margin-top: 10px;
}

.menu-card p {
  color: #555;
}

.menu-card button {
  margin-top: 10px;
  width: 100%;
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(35px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-card {
  opacity: 0;
  animation: floatIn 0.5s ease forwards;
  will-change: transform;
}

@media (max-width: 430px) {
  h1.text-xl.font-bold {
    width: 120px;
  }
}
